<div class="container-fluid full-background vh-100">
  <div class="row h-100">
    <div class="col"></div>
    <div class="col-3 align-self-center p-3 shadow d-flex align-items-center flex-column" style="background-color:#6b5b4b; border-radius: 12px;">
        <img src="https://i.pinimg.com/originals/d9/43/d8/d943d8cf079bb106a04db3363479b337.png" class=" mb-1 w-25" style="border-radius: 24px;">
      <h3>projDogs</h3>
      <p class="px-5" style="font-size:12px; color:#f1e7db">Esse é o melhor gerador de cachorrinhos. Clique no botão para gera um doguinho.</p>
      <img [src]="dog.message" class=" mb-3 p-3" style="width: 300px; height: 220px; border-radius: 24px;">
      <button (click)="getDogs()" class="btn" style="background-color: #5a4b3d; font-size:12px; color:#f1e7db">Gerar doguinho</button>
    </div>
    <div class="col"></div>
  </div>
</div>
